/* 글로벌 css 파일 */
@font-face {
    font-family: "AppleSDGothicNeoR";
    src: url(./fonts/AppleSDGothicNeoR.ttf) format("truetype");
}

html {
    --primary-color: #df7861;
    --secondary-color: #ecb390;
    --third-color: #ecdfc8;
    --fourth-color: #fcf8e8;

    --font-color: rgba(0, 0, 0, 0.8);
    --dark-font-color: rgba(255, 255, 255, 0.83);
    --dark-background-color: #282c35;
}
body {
    color: var(--font-color);
}
body a {
    color: var(--primary-color);
    transition: all 0.25s;
}

code[class*="language-"], pre[class*="language-"] {
    border-radius: 8px;
}

body a:hover {
    background-color: var(--secondary-color);
    color: var(--fourth-color);
}
.title {
    color: inherit;
    background-color: inherit;
}
.title:hover {
    background-color: black;
}
.social {
    text-decoration: none;
    box-shadow: initial;
    border: 1px var(--secondary-color) solid;
    border-radius: 5rem;
    padding: 4px;
    font-size: 12px;
    margin-right: 4px;
}
.navigation-link {
    padding: 8px 16px;
    border: 1px var(--secondary-color) solid;
    border-radius: 10px;
    box-shadow: none;
}
.category-tag {
    border: 1px var(--secondary-color) solid;
    color: var(--primary-color);
    border-radius: 15px;
    padding: 4px;
    margin-right: 4px;
    cursor: default;
}

button.category-tag {
    cursor: pointer;
    outline: none;
    background-color: inherit;
}
button.category-tag:active {
    background-color: var(--secondary-color);
    color: var(--fourth-color);
}
button.category-tag.active {
    background-color: var(--secondary-color);
    color: var(--fourth-color);
}
blockquote {
    border-left: 0.32813rem solid var(--primary-color);
    color: inherit;
}


/* width */
::-webkit-scrollbar {
    width: 12px;
    height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #fff; 
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #d3d3d3; 
    border: 1px solid transparent;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #adadad;
}


/* 다크모드 */
.dark {
    background-color: var(--dark-background-color);
    color: var(--dark-font-color);
}
/* Handle */
.dark ::-webkit-scrollbar-thumb {
    background: #adadad;
    border: 2px solid transparent;
}

/* Handle on hover */
.dark ::-webkit-scrollbar-thumb:hover {
    background: #979797
}

.dark ::-webkit-scrollbar-track {
    background: #d3d3d3; 
}

